# Dev environment
.idea/

# Typescript source
/src/
/gen/
/tools/
tsconfig.json
tsconfig.*.json

# Compiled utilities that are only used for building
dist/util/

# Documentation settings
typedoc.js
home.md
jsdoc.json
